<beans xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="articleDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <description>
            <![CDATA[ datasource configuration ]]>
        </description>
        <property name="driverClassName" value="${article.dataSource.driverClassName}"/>
        <property name="url" value="${article.dataSource.url}"/>
        <property name="username" value="${article.dataSource.username}"/>
        <property name="password" value="${article.dataSource.password}"/>
        <property name="filters" value="stat"/>
        <property name="maxActive" value="1000"/>
        <property name="initialSize" value="50"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="validationQuery" value="select user()"></property>
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="200"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="articleDataSource"/>
        <property name="configLocation" value="classpath:spring/mybatis-configuration.xml"/>
        <property name="mapperLocations" value="classpath:com/celt/**/*Mapper.xml"/>
        <property name="plugins">
            <array>
                <bean class="com.celt.spider.common.web.filter.PageFilter">
                    <property name="databaseType" value="mysql"/>
                </bean>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:sqlSessionFactoryBeanName="sqlSessionFactory" p:basePackage="com.celt.**.dao"/>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="articleDataSource"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
